// Core styles for entire app
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// Light mode styles
:root {
    --primary-color: #ff541a;
    --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --toggleBg: #ffffff;
    --toggleText: #000000;
}

// dark mode styles by updating css vars
&[data-theme='dark'] {
    --primary-color: red;
    --toggleBg: #2e2e2e;
    --toggleText: #ffffff;
}

html {
    overflow-y: scroll;
}

body {
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 16px;
    overflow: hidden;
    display: block;
    position: relative;

    @media (min-width: 1300px) {
        font-size: 20px;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* ===============================================
	.screenreader 
	a11y support for descriptive text on vaguely worded buttons
	https://gomakethings.com/hidden-content-for-better-a11y/#hidden-labels
=============================================== */
.screenreader {
    white-space: nowrap;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
}