nav {
    background-color: var(--toggleBg);
    border-bottom: 1px solid #bebebe;
    width: 100%;
    height: (70/20em);
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;

    &::before {
        content: '';
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: fade(#000, 40%);
        z-index: 1;
        opacity: 0;
        pointer-events: none;
        transition: opacity .33s ease;
    }

    &.active {
        &::before {
            pointer-events: all;
            opacity: 1;
        }
    }

    @media only screen and (min-width: 1024px) {
        height: auto;
        position: absolute;

        &::before {
            content: none;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 0 0 0 .5em;
        max-width: 60em;
        margin: 0 auto;

        .logo {
            width: 2.5em;
            display: block;

            svg {
                width: 100%;
                height: auto;
            }
        }

        .nav-links {
            background-color: var(--toggleBg);
            position: absolute;
            top: 0em;
            right: 0;
            width: 80%;
            height: 100vh;
            padding: 10em 0 3em 2em;
            transform: translateX(100%);
            transition: transform .33s ease;
            list-style: none;
            text-align: left;
            z-index: 1;
            overflow: auto;

            @media only screen and (min-width: 768px) {
                width: 50%;
            }

            .nav-link {
                display: block;
                margin: 0 0 1em 0;

                a {
                    text-decoration: none;
                    color: var(--toggleText);
                    transition: color .33s ease;
                    display: inline-block;
                    font-size: 1.2em;
                    position: relative;
                    text-transform: uppercase;

                    &::after {
                        content: '';
                        width: 0%;
                        background-color: currentColor;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 2px;
                        display: block;
                        transition: width .33s ease;
                    }

                    &.active,
                    &:hover {
                        color: var(--primary-color);

                        &::after {
                            width: 100%;
                        }
                    }
                }
            }

            // CTA
            .btn {
                font-size: 1.2em;
                display: inline-block;
                width: auto;
                color: white;
                padding: .75em 2em;
                background-color: fade(#ff541a, 100%);
                text-decoration: none;
                border-radius: .5em;
                transition: background-color .33s ease;

                &:hover {
                    background-color: #212121;
                }
            }

            @media (min-width: 1024px) {
                position: relative;
                height: auto;
                transform: none;
                padding: 1em 0;
                width: auto;
                background-color: transparent;

                .nav-link,
                li {
                    display: inline-block;
                    margin: 0 0 0 1em;

                    a {
                        font-size: inherit;
                    }
                }

                .btn {
                    font-size: inherit;
                }
            }



            &.active {
                transform: translateX(0%);
            }
        }

        .toggle {
            display: block;
            position: relative;
            font: inherit;
            border: 0;
            color: white;
            width: (70/20em);
            height: (69/20em);
            background-color: #f4f4f4;
            transition: background-color .33s ease;
            z-index: 2;

            @media (min-width: 1024px) {
                display: none;
            }

            span {
                width: 2em;
                height: 2px;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(0) scaleX(1);
                background-color: #212121;

                &:nth-child(1) {
                    top: 38%;
                    left: 43%;
                    width: 1.5em;
                    transition: transform .33s ease, left .33s ease, top .33s ease;
                }

                &:nth-child(2) {
                    transform-origin: left;
                    transition: width .33s ease, transform .33s ease;
                }

                &:nth-child(3) {
                    top: 62%;
                    left: 43%;
                    width: 1.5em;
                    transition: transform .33s ease, left .33s ease, top .33s ease;
                }
            }

            &.active {

                span {
                    &:nth-child(1) {
                        width: 2em;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%) rotate(45deg) scaleX(1);
                    }

                    &:nth-child(2) {
                        transform: translate(-50%, -50%) rotate(0) scaleX(0);
                    }

                    &:nth-child(3) {
                        left: 50%;
                        top: 50%;
                        width: 2em;
                        transform: translate(-50%, -50%) rotate(-45deg) scaleX(1);
                    }
                }
            }
        }
    }

    #theme {
        width: 40px;
        height: 22px;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 4em;

        @media only screen and (min-width: 1024px) {
            right: -2.3em;
            transform: translateY(-50%) rotate(90deg);
        }

        #themeToggle {
            display: block;
            position: relative;
            border: 1px solid #e6e6e6;
            background-color: transparent;
            width: 100%;
            height: 100%;
            border-radius: 11px;
            padding: 1px;
            text-align: left;

            span {
                width: 18px;
                height: 18px;
                overflow: hidden;
                display: inline-block;
                background-color: #d9d9d9;
                border-radius: 50%;
                transition: transform .33s ease;
                padding: 3px;

                svg {
                    width: 100%;
                    height: auto;
                    display: block;
                    color: #212121;
                }
            }

            &.dark {

                span {
                    transform: translateX(18px) rotate(180deg);
                }
            }
        }
    }
}